{% extends 'content.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    
    <div class="row valign-wrapper" style="min-height: 80vh;">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="row">
                <div class="col s12">
                    <h5 class="teal-text center-align">{{ title }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text teal-text">Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для
                <a href="{% url 'users:login' %}">входа в систему</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}