<th:block xmlns:th="http://www.thymeleaf.org">

    <th:block th:insert="~{parts/page_template :: start}"/>


    <div class="container">
        <div class="row justify-content-around">
            <th:block th:each="book:${books}">
                <div class="col-7 col-sm-6 col-md-4 col-xl-3">
                    <div class="card my-1">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${book.bookname}">Cras justo odio</li>
                            <li class="list-group-item" th:text="${book.author}">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </th:block>


        </div>


        <!--==========================================================================================================-->
        <th:block th:insert="~{parts/page_template :: end}"/>

</th:block>

