<th:block xmlns:th="http://www.thymeleaf.org">

    <!--START-->
    <th:block th:insert="~{parts/page_template :: start}"/>

    <!--NAVBAR-->
    <th:block th:insert="~{parts/navbar}"/>


    <div class="container mt-3">

        <table>
            <tr>
                <th><div style="background: #f8f9fa; padding: 5px">Name</div> </th>
                <th><div style="background: #f8f9fa; padding: 5px">Role</div> </th>
            </tr>
            <tr th:each="user:${users}">
                <td><div th:text="${user.username}" style="background: #f8f9fa; padding: 5px">Role</div> </td>
                <td><div th:each="role:${user.roles}" style="background: #f8f9fa; padding: 5px"><div th:text="${role}"></div></div></td>
                <td><div style="background: #f8f9fa; padding: 5px"><a th:href="@{'/user/'+${user.id}}">edit</a> </div></td>
            </tr>
        </table>

    </div>

    <!--END-->
    <th:block th:insert="~{parts/page_template :: end}"/>

</th:block>