<div th:fragment="list_book" xmlns:th="http://www.thymeleaf.org">

    <!-- LIST BOOK-->

    <div class="text-center h2 mb-3">List of book</div>

    <div class="text-center h3 mb-3" th:text="'number of books: '+${page.getTotalElements()}"></div>

    <th:block th:insert="~{parts/pager::pager(${url},${page})}"/>

    <div class="container">
        <div class="row justify-content-around">
            <th:block th:each="book:${page.content}">
                <div class="col-7 col-sm-6 col-md-4 col-xl-3">
                    <div class="card my-2">
                        <img th:if="${book.pictureName}" class="card-img-top" th:src="@{'/file/'+${book.pictureName}}">
                        <img th:unless="${book.pictureName}" class="card-img-top" th:src="@{'/book.jpg'}">

                        <p>
                            <button class="btn btn-secondary btn-block py-0" type="button" data-toggle="collapse" th:data-target="'#a'+${book.id}" aria-expanded="false" th:aria-controls="'a'+${book.id}">
                                Аннотация
                            </button>
                        </p>
                        <div class="collapse" th:id="'a'+${book.id}">
                            <div class="card card-body py-1">
                                <span class="h6" th:text="${book.annotation}">

                                    scasca welfwe fwef oweieif oweiuf oweifu oweifu oweifu
                                </span>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-0">
                                <strong>название:</strong><br><span th:text="${book.bookname}"></span>
                            </li>
                            <li class="list-group-item py-0">
                                <strong>автор:</strong><br><span th:text="${book.author}"></span>
                            </li>
                            <li class="list-group-item py-0">
                                <strong>загрузил: </strong><br><a th:href="@{'/user-books/'+${book.reliser.id}}"><span th:text="${book.reliser.username}"></span></a>
                            </li>

                        </ul>

                        <!--<th:block th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.getUsername()}"></th:block>-->
                        <!--<th:block th:text="${#authentication.principal.active}"></th:block>-->


                        <div class="card-body py-0">
                            <a th:if="${#authentication.principal.isAdmin()}" th:href="@{'/file/'+${book.filename}}" class="card-link">Download</a>

                            <a th:if="${#authentication.principal.id==book.reliser.id}" th:href="@{'/user-books/'+${book.reliser.id}+'?book='+${book.id}}" class="card-link">Edit book</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>